@import "@heroui/styles/css";

@config "../../tailwind.config.ts";

:root {
  box-sizing: border-box;
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-back-text: var(--color-gray-500);
  --color-fore-text: var(--color-red-500);

  --color-primary: var(--color-blue-600);
  --color-success: var(--color-green-600);
  --color-error: var(--color-red-600);
  --color-warning: var(--color-yellow-600);
  --color-info: var(--color-blue-600);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-en), var(--font-cn), Arial, Helvetica, sans-serif;
}

::selection {
  background: var(--color-blue-100);
  color: var(--color-blue-500);
}

::-moz-selection {
  background: var(--color-blue-100);
  color: var(--color-blue-500);
}

::-webkit-selection {
  background: var(--color-blue-100);
  color: var(--color-blue-500);
}

@keyframes float-cloud {
  0% { background-position: 100% 10%; }
  50% { background-position: 0 5%; }
  100% { background-position: 100% 10%; }
}